/* Body Styles */
body {margin: 0; background: #ffffff; font: 90% "Trebuchet MS", sans-serif;}
p,td,li,pre {font: normal 13px verdana,arial,helvetica,sans-serif; color: #808080}
ul {list-style: none;}
h1 {font: bold 20pt arial,helvetica,tahoma,sans-serif; color: steelblue; margin: 0; padding: 0;}
h2 {font: bold 15px verdana,arial,helvetica,sans-serif; color: steelblue}
h3 {font: bold 15px verdana,arial,helvetica,sans-serif; color: #808080}
a {color: steelblue}
a:hover {color: #255B86}
pre {margin-bottom: 0}
.hrz_line {background: #a1a1a1}
.hrz_line2 {background-image: url(images/hrz_line.gif); height: 1px}
.maincontent {background: #ffffff; padding: 2em}
.colorbar {background: #76A8DB}
.colorbar2 {background: #255B86}
.foot {background: #FFF; padding-right: 2em}
.poptop, .popbot {background: #F4F4F4}
.popbot {padding-top: 3px; padding-bottom: 3px; padding-left: 1em}
.nav_special {color: #ADCEEF; margin-right: 2em}
.nav_link {color: #ffffff; text-decoration: none}
.category {font-size: 10pt; margin-bottom: 0.5em}
dt {font: bold 10pt verdana,arial; padding-top: 1em}
dd {font: normal 8pt verdana,arial; line-height: 18px}
.QA {font: normal 18pt arial, helvetica,tahoma; color: #cccccc; width: 10px}
.question {font-weight: bold; margin: 0; padding: 3px; font-size: 12pt}
.answer {font-weight: normal; background: #EFEFEF;  margin: 0; padding: 3px; font-size: 16px}
/* Table Styles */
.tablehead {background: #dddddd}
.rowA {background: #EBECED}
.rowB {background: #ffffff}
.rowC {background: #E5E5E5}
/* Form Styles */
.textfield {font-family: verdana, sans-serif; font-size:11px; color:#666666; background:#ffffff; border-top:1px solid #bbbbbb; border-left:1px solid #bbbbbb; border-bottom:1px solid #dddddd; border-right:1px solid #dddddd;}
.submit {font: normal 10pt "verdana","arial mt","arial narrow","arial"; background: #639BC5; color: #ffffff; border: #cccccc 1px outset}
select {font: normal 10pt "verdana","arial mt","arial narrow","arial"; color: #616161;}
select.nav_sel {font: normal 10pt "verdana","arial mt","arial narrow","arial"; color: #30678F; background: #ADCEEF}
form {margin: 0}

#dialog-form table thead th{
    margin: 0;
    padding: 0;
    height: 5px;
}
.AddAlt fieldset{
    float:left;
    width:98%;
}
#dialog-form-alterar label, #dialog-form-adicionarCategoria label{
    float:left;
    width:100%;
}
#dialog-form-alterar span, #dialog-form-adicionarCategoria span{
    float:left;
    width:100%;
}
#dialog-form-alterar textarea{
    float:left;
    width:99%;
    height:80px;
}
#dialog-form-adicionarCategoria input{
    padding:5px;
    width:200px;
}
.AddAlt label{
    float:left;
    width:98%;
}
.AddAlt form{
    float:left;
    width:98%;
}
.AddAlt span{
    float:left;
    width:100%;
}
.AddAlt textarea{
    float:left;
    width:99%;
    height:80px;
}
.AddAlt input{
    padding:5px;
    width:200px;
}
.AddAlt select{
    padding:5px;
    width:200px;
}
#tree6{
    float: left;
    margin: 0;
    padding: 0;

}
#menu{
    float: left;
    width: 100%;
}
#ListaFaqs{
    float: left;
    margin: 5px;
    padding: 0;
}
#ListaFaqs ul{
    float: left;
    margin: 0;
    padding: 0;
    width: 700px;
}
#ListaFaqs ul li ul{
    float: left;
    margin: 0 0 0 10px;
    padding: 0;
}
#ListaFaqs ul li{
    float: left;
    width: 100%;
    margin: 3px 0;
}
#ListaFaqs .right{
    float: right;
    margin: 0 5px;
}
#ListaFaqs ul li ul li{
    float: left;
    margin: 0;
    padding: 2px 0;
    width: 98.5%;
}